<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ky.mapper.BlogTypeMapper">
	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="id" column="id"/>
		<result property="typeName" column="typeName"/>
		<result property="orderNo" column="orderNo"/>
	</resultMap>
	
	<select id="countList"  resultMap="BlogTypeResult">
		select t2.id,t2.typeName,count(t1.id) as blogCount from blog t1 right join blogtype t2  on t2.id=t1.typeId group by t2.typeName order by t2.orderNo;
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="BlogTypeResult">
		select * from blogtype where id=#{id}
	</select>
	
	<!-- mysql分页 -->
	<select id="list"  parameterType="Map" resultMap="BlogTypeResult">
		select * from blogtype
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<!-- 总记录数 -->
	 <select id="getTotal" parameterType="Map" resultType="java.lang.Double">
		select count(*) from blogtype
	</select> 
	
	<insert id="add" parameterType="BlogType">
		insert into blogtype(id,typeName,orderNo) values(null,#{typeName},#{orderNo})
	</insert>
	
	<update id="update" parameterType="BlogType">
		update  blogtype
		<set>
			<if test="typeName!=null and typeName!=''">
				typeName=#{typeName}
			</if>
			<if test="orderNo!=null">
				orderNo=#{orderNo}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from blogtype where id=#{id}
	</delete>
	
</mapper>